.error-msg-main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    backdrop-filter: blur(20px);

    .error-img {
        width: 80%;
        object-fit: contain;
    }

    .go-back-btn {
        position: absolute;
        width: 220px;
        aspect-ratio: 3/1;
        background-color: #d1eef63d;
        border: none;
        border-radius: 100px;
        // box-shadow: 2px 2px 4px #000;
        border: 1px solid #000;
        backdrop-filter: blur(10px);
        color: #000;
        font-size: 1.2rem;
        cursor: pointer;

    }
}



//--------------------------  media  --------------------------------------

@media only screen and (max-width: 480px) {
    .error-msg-main {
        .error-img {
            width: 100%;
            object-fit: contain;
        }
    
        .go-back-btn {
            position: absolute;
            top: 70%;
            width: 55%;
            aspect-ratio: 4/1;
            font-size: 1.2rem;
           
    
        }
    }
    
}
