.forecast-card-main-container {
    position: relative;
    width: 20%;
    height: 100%;
    color: #000;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff69;
    border-radius: 0.6em;


}

//--------------------------  media  --------------------------------------

@media only screen and  (max-width: 425px) {
    .forecast-card-main-container {
        width: 40%;
        font-size: 0.9rem;
        background-color: #ffffff94;
        border-radius: 0.8em;

    }

}

//--------------------------  (min-width: 425px) and (max-width: 480px) --------------------------------------

@media only screen and (min-width: 425px) and (max-width: 480px) {
    .forecast-card-main-container {
        width: 40%;
        font-size: 1.2rem;
        background-color: #ffffff94;
        border-radius: 0.8em;

    }

}

@media only screen and (min-width: 481px) and (max-width: 680px) {
    .forecast-card-main-container {
        font-size: 0.5rem;

    }

}



@media only screen and (min-width: 681px) and (max-width: 980px) {
    .forecast-card-main-container {
        font-size: 0.6rem;

    }

}

@media only screen and (min-width: 981px) and (max-width: 1200px) {

    .forecast-card-main-container {
        font-size: 0.8rem;

    }


}