.loading-comp-main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3E5975;
    backdrop-filter: blur(20px);

    .loading-img {
        width: 150px;
        object-fit: contain;
    }

    .loading-gif {
        width: 250px;
        object-fit: contain;
    }
}