.city-name-main-container {
    font-size: clamp(0.4rem, 1.2rem, 1.4rem);
    z-index: 1;
    margin-top: 15%;
    font-weight: 300;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}