.unit-conversion-main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;

    .conversion-btn {
        padding: 0.2em 0.6em;
        border-radius: 0.4vw;
        border: none;
        color: aliceblue;
        font-size: 1.1rem;
        cursor: pointer;
        background: none;
        border: 1px solid #ffffff73;
        box-shadow: inset 0.2em 0.2em 2px #00000034;

        &:hover {
            border: 1px solid #fff;

        }

    }
}

@media only screen and (min-width: 481px) and (max-width: 1200px) {
    .unit-conversion-main {
        .conversion-btn {
            font-size: 1rem;

        }
    }

}