@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
    font-family: "Merriweather Sans", sans-serif;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}



/* @media screen and (max-device-width: 950px) {
    body {
        -webkit-text-size-adjust: none;
    }
} */

html,
body {
    -webkit-text-size-adjust: none;
    height: 100%;

}

* {
    margin: 0;
    padding: 0;
}


.App-main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #757243;
    overflow: hidden;
    color: aliceblue;
    font-size: clamp(0.4rem, 40px, 2rem);

    h1 {
        position: absolute;
        top: 10%;
        color: #fff;
        font-size: clamp(0.4rem, 4rem, 4.2rem);
        // z-index: 3;
        text-shadow: 0.1em 0.1em 4px #00000080;
        transition: 1.6s cubic-bezier(.15, .84, .18, .98) 0s;
        transform: translateY(450%);
    }

    .bg-frame-one,
    .bg-frame-two {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .bg-frame-one {
        z-index: 0;
    }

    .bg-frame-two {
        z-index: 2;
    }

    .cloud-one,
    .cloud-two {
        position: absolute;
        width: 850px;
        z-index: 2;
        opacity: 0.8;
    }

    .cloud-one {
        left: -20%;
        transition: 1.6s cubic-bezier(.15, .84, .18, .98) 0.5s;
        transform: translate(-100%);
    }

    .cloud-two {
        right: -20%;
        transition: 1.6s cubic-bezier(.15, .84, .18, .98) 0.5s;
        transform: translate(100%);
    }

    .search-result-sec {
        position: absolute;
        width: 20%;
        aspect-ratio: 2/1;
        top: 20%;
        left: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
        // border: 1px solid #000;
        z-index: 3;


        .weather-icon {
            width: 40%;
            aspect-ratio: 1;
            object-fit: cover;
        }

        .content-sec {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

    }

    .forecast-section {
        position: absolute;
        top: 60%;
        display: flex;
        width: 550px;
        aspect-ratio: 4/1;
        // border: 1px solid #fff;
        justify-content: center;
        align-items: center;
        gap: 5%;
        z-index: 2;

    }
}

//--------------------------  max-width: 480px  --------------------------------------

@media only screen and (max-width: 480px) {
    .App-main {

        .bg-frame-one,
        .bg-frame-two {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .cloud-one,
        .cloud-two {
            width: 380px;
        }

        .cloud-one {
            top: 40%;

        }

        .cloud-two {
            top: 20%;

        }

        h1 {
            font-size: 2rem;
            transform: translateY(850%);

        }
        .search-result-sec {
            width: 40%;
            aspect-ratio: 2/1;

            .weather-icon {
                width: 50%;
            }
        }

        .forecast-section {
            width: 100%;
            aspect-ratio: 3/1;
            top: 60%;
            flex-wrap: wrap;
        }
    }
}


//--------------------------  min-width: 480px  / max-width: 680px --------------------------------------

@media only screen and (min-width: 481px) and (max-width: 680px) {
    .App-main {

        .cloud-one,
        .cloud-two {
            width: 380px;
        }

        h1 {
            font-size: 2rem;
        }

        .forecast-section {
            width: 380px;
            top: 65%;
        }


    }
}

//--------------------------  min-width: 680px  / max-width: 980px --------------------------------------

@media only screen and (min-width: 681px) and (max-width: 980px) {
    .App-main {

        .cloud-one,
        .cloud-two {
            width: 500px;
        }

        h1 {
            font-size: 2.5rem;
        }

        .forecast-section {
            width: 400px;
            top: 65%;
        }
    }
}


//--------------------------  min-width: 981px  / max-width: 1200px --------------------------------------

@media only screen and (min-width: 981px) and (max-width: 1200px) {
    .App-main {

        .cloud-one,
        .cloud-two {
            width: 600px;
        }

        h1 {
            font-size: 3rem;
        }

        .forecast-section {
            width: 450px;
            top: 70%;
        }
    }
}




//--------------------------  min-width: 1201px  / max-width: 1600px --------------------------------------

// @media only screen and (min-width: 1201px) and (max-width: 1600px) {}

//--------------------------  min-width: 1601px  --------------------------------------

// @media only screen and (min-width: 1601px) {}