.weather-condition-main-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: clamp(0.4rem, 1.2rem, 1.4rem);
    font-weight: 300;
   
}